.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 46px;

  .card {
    width: 185px;
    height: 248px;
    margin-bottom: 35px;
    color: #ffffff;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 2px solid transparent;
    transition: all 0.2s;

    &:hover {
      border: 2px solid #1e91ea;
    }

    &__name {
      font-size: 16px;
      font-weight: 800;
    }

    &__homeworld {
      font-size: 15px;
    }
  }
}

.pagination {
  margin: 0 auto;
  margin-top: 10px;

  &__items {
    display: flex;
    justify-content: center;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    background-color: transparent;
    border-radius: 50%;
    color: #ffffff4d;
    border: 2px solid #ffffff4d;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &:hover {
      color: #ffffff;
      border: 2px solid #1e91ea;
    }

    &.active {
      color: #ffffff;
      border-color: #1e91ea;
    }
  }
}
