.header {
  padding: 10px 0;
  display: flex;
  align-items: center;

  &__logo {
    cursor: pointer;
    img {
      height: 120px;
    }
  }
  &__menu {
    display: flex;
    margin-left: 88px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 17px;
    line-height: 16px;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #ffffff4d;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.2s;
    cursor: pointer;

    &:first-child {
      margin-right: 27px;
    }

    &:hover {
      color: #ffffff;
      border-color: #1e91ea;
    }

    .active {
      color: #ffffff;
      border-color: #1e91ea;
    }
  }
}

.separator {
  height: 1px;
  background-color: #e3af3a;
}
