@import 'libs/normalize';
@import 'components/all';

body {
  background: url('https://storge.pic2.me/upload/751/582b1ad9bc1cc.jpg') center center/cover
    no-repeat fixed;
}

.wrapper {
  width: 1075px;
  margin: 0 auto;
}
